.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.Movie-container{
  background:  #deeaee; /*#e6e2d3 */
  width: 340px;
  height:min-content;
}
.movie-poster{
width:340px;
height: 640px;
object-fit: cover;
}
.movie-specs{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
  font-size: 24px;
  margin:0;

}
.movie-rating{
  font-size: 20px;
  font-style: normal;
}
.movie-summary{
  margin-tops:0;
}

/* // responsive pandrathuku  kodukrom*/
/* .movie-list { */
  /* display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content:space-around; */

  /* display: grid; */
  /* fr = fractional unit */
  /* grid-template-columns: 1fr 1fr 1fr;  repeat (3,1fr); */
  /* gap: 16px; */
  
  /* gap: 5px; */
  /* // naduvula irukurathu matum perusa theriyum  but enaku varala o/p*/
   /* display: grid; 
  grid-template-columns: 1fr 2fr 1fr;   */
/* } */

.movie-list {
  display:grid;
  /* grid la responsive akurathuku RAM use pandrom*/ 
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap:16px;
  justify-items: center;/*1fr layum centre la show oandrathukaga kodukurom*/

}
.Heart{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.add-movie-form {
  display:flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 10px auto; 

}

.game-box {
  border: 1px solid black;
  font-size: 160px;
  height: 160px;
  width: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;

}
.game-box:hover{
  background: hsl(0deg 0% 0% / 6%);
}
.board{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  margin: 16px auto;
}
.tic-tac-toe{
  text-align:center;
}  